/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .header__title {
    max-width: 100rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .header__title {
    max-width: 90rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .nav {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .nav__links {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav__link:link,
  .nav__link:visited {
    font-size: 3rem;
  }

  .header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
  }

  .header__title button {
    padding-bottom: 10rem;
    font-size: 3rem;
  }

  .header__img {
    width: 70%;
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    transform: translateY(-6rem);
  }

  .features {
    gap: 10rem 0;
    margin: 0;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  h1 {
    text-align: center;
  }
  .dots {
    bottom: 0%;
  }

  .footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 3rem;
    margin-left: 1.5rem;
  }

  .contact {
    grid-column: 2/3;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .nav {
    padding: 0;
  }

  .nav__item {
    margin-left: 0;
  }

  .features {
    grid-template-columns: 1fr;
    gap: 10rem;
  }
  .features__feature {
    width: 90%;
    margin-top: -8rem;
  }
  .features__icon {
    margin: 0 auto 2rem auto;
    width: 8.25rem;
    height: 8.25rem;
  }

  .features__icon svg {
    width: 3.75rem;
    height: 3.75rem;
  }

  .features__img {
    width: 90%;
    justify-self: center;
  }

  .features__header {
    text-align: center;
    font-size: 3rem;
  }

  .features p {
    font-size: 2rem;
    text-align: center;
  }

  /* // ordering grid elements section1// */
  .first {
    order: 1;
  }
  .second {
    order: 2;
  }
  .third {
    order: 3;
  }
  .fourth {
    order: 4;
  }
  .fifth {
    order: 5;
  }
  .sixth {
    order: 6;
  }

  .operations__content--active {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .operations__icon {
    margin: 0 auto 1rem auto;
  }

  .operations button {
    padding: 1.25rem 2rem;
    font-size: 1.8rem;
  }

  .operations__header {
    font-size: 3rem;
    padding: 1rem;
  }

  .operations p {
    font-size: 2rem;
  }

  .operations__content {
    padding: 2.5rem 5rem 6.5rem 5rem;
  }

  .slide {
    height: 70rem;
  }

  .slider {
    height: 75rem;
  }

  .dots {
    bottom: 8%;
  }

  #section--3 {
    padding: 15rem 3rem 10rem 3rem;
  }

  .footer__nav {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
